@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  /* outline: 1px solid plum; */
}

html,
body {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 1280px;
  margin: 0;
  padding: 0 40px;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-decoration: none;

  color: #333333;
  background: #f2f2f2;
}

.body-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;

  color: #ffffff;
  background: #82B3D3;

  text-align: center;
  box-shadow: 0 0 15px #00000033;
}

.repository {
  font-size: 16px;
  line-height: 20px;
}

.repository a {
  text-decoration: none;
  color: #ffffff;
}

.repository a:hover {
  color: #bf35b8;
}

.body-page h1 {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-transform: uppercase;
}

.body-page h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.body-page h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 8px 50px;

  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  text-align: center;

  color: #ffffff;
  background-color: #ffc0cb;
  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}


/* Главная страница
============================================
============================================ */

/* Header=Шапка (навигация) - начало
============================================ */
.page-header {
  flex-grow: 0;
  flex-shrink: 0;

  background-color: #ffffff;
}

.navigation {
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  width: 1200px;
  height: 64px;
  margin: 0 auto;
  padding: 0 70px;
}

.navigation .navigation-logo {
  position: absolute;
  z-index: 1;

  max-height: 70px;
  margin-right: 30px;
}

.navigation-list {
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  min-width: 340px;
  margin: 0 auto 0 170px;
  padding: 0;

  list-style-type: none;
}

.navigation-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  width: auto;

  margin: 0;
  padding: 0;
}

.navigation-link {
  display: block;
  margin: 0;
  padding: 20px 16px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: capitalize;
  text-decoration: none;
  background-color: transparent;

  cursor: pointer;
}

.navigation-link-current {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 20px;
  text-underline-position: under;
}

.navigation-user-list {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  min-width: 88px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.navigation-user-item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 64px;
  margin: 0;
  padding: 0;
}

.navigation-user-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 44px;
  min-height: 64px;
  margin: 0;
  padding: 22px 12px;

  cursor: pointer;
}

.navigation-user-search {
  flex-shrink: 0;

  width: 20px;
  height: 20px;
  margin: 0;
  padding: 1px 0 0 1px;

  background-image: url("../images/header-icon/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.navigation-user-favorites {
  flex-shrink: 0;

  width: 20px;
  height: 20px;
  margin: 0;
  padding: 2px 1px 1px 2px;

  background-image: url("../images/header-icon/heart-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.navigation-user-favorites span {
  flex-shrink: 0;

  width: 20px;
  height: 20px;

  border-radius: 10px;
  text-align: center;
  background-color: #7DB54F;
}

.navigation-user-statistics {
  position: absolute;
  top: 16px;
  left: 24px;

  width: 11px;
  height: 10px;
  margin: 0;
  padding: 5px 5px 5px 4px;

  font-size: 10px;
  line-height: 10px;
  color: #ffffff;

  text-decoration: none;
  text-align: center;
}

.navigation-btn {
  position: relative;
  top: 14px;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  max-height: 36px;
  margin-left: 20px;

  background-color: #756157;

  cursor: pointer;
}

.navigation-btn:hover,
.navigation-btn:focus  {
  background-color: #615048;
}

.navigation-btn:active {
  background-color: #756157;
  color: #FFFFFF4D;
}

.navigation-btn:disabled {
  background-color: #E5E5E5;
}
/* Header=Шапка (навигация) - конец
============================================ */


/* Main=Основное содержание - начало
============================================ */
.main-index,
.main-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
}

/* Main - Hero
____________________________________________ */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;

  min-width: 1200px;
  height: 485px;
  margin: 0;
  padding: 0;

  background-image: url("../images/main-page/divider.png"), url("../images/background-images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center;
  background-size: contain, cover;

  background-color: #ffc0cb;
}

/* Main - Advantages
____________________________________________*/
.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  background-color: #ffffff;
  color: #000000;
}

.advantages-connotation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1200px;
  margin: 0 0 21px;
  padding: 69px 0;
}

.advantages-lead-title {
  width: 620px;
  margin: 0;
  padding: 0 0 25px;
}

.advantages-lead-description {
  width: auto;
  margin: 0;
  padding: 0;
}

.advantages-first-row,
.advantages-second-row,
.advantages-third-row {
  display: flex;
  align-items: flex-start;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 400px;
  height: 385px;
  margin: 0;
  padding: 0 85px;
}

.advantages-title {
  max-width: 175px;
  margin: 0;
  padding: 0 0 30px;
}

.advantages-title-color {
  color: #ffffff;
}

.advantages-description {
  min-width: 230px;
  margin: 0;
  padding: 30px 0 0;

  font-size: 18px;
  line-height: 21px;
}

.advantages-town,
.advantages-bridge {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-square,
.advantages-tourists {
  background-color: #83B3D31F;
  color: #000000;
}

.advantages-road {
  background-color: #83B3D333;
  color: #000000;
}

.advantages-strips {
  display: flex;

  width: 60px;
  height: 2px;
  margin: 0 auto;
  padding: 0;

  border-top: 2px solid;
}

.advantages-town-strips,
.advantages-bridge-strips {
  border-color: #FFFFFF4D;
}

.advantages-square-strips,
.advantages-road-strips,
.advantages-tourists-strips {
  border-color: #0000004D;
}

/* Main -> Services
____________________________________________ */
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  background-color: #ffffff;
  color: #000000;
}

.services-connotation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1200px;
  margin: 0;
  padding: 64px 0;
}

.services-lead-title {
  width: 505px;
  margin: 0;
  padding: 0 0 20px;
}

.services-lead-description {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.services-row {
  display: flex;
  align-items: flex-start;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 400px;
  min-height: 385px;
  margin: 0;
  padding: 0 85px;
}

.services-title {
  max-width: 230px;
  margin: 0;
  padding: 30px 0;
}

.services-item-grey {
  background-color: #83B3D31F;
}

.services-item-home {
  width: 75px;
  height: 72px;

  background-image: url("../images/services-icon/services-icon-home.svg");
  background-repeat: no-repeat;
}

.services-item-food {
  width: 75px;
  height: 72px;

  background-image: url("../images/services-icon/services-icon-food.svg");
  background-repeat: no-repeat;
}

.services-item-souvenirs {
  width: 75px;
  height: 75px;

  background-image: url("../images/services-icon/services-icon-souvenirs.svg");
  background-repeat: no-repeat;
}

.services-description-home,
.services-description-food,
.services-description-souvenirs {
  min-width: 230px;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 21px;
}

/* Main -> Search
____________________________________________ */
.search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 0;
  padding: 0;

  background-color: #ffffff;
  color: #000000;
}

.search-connotation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1200px;
  margin: 0;
  padding: 96px 0;
}

.search-lead-title {
  width: 592px;
  margin: 0 0 20px;
  padding: 0;
}

.search-lead-description {
  min-width: 592px;
  margin: 0;
  padding: 0 0 54px;
}

.search-btn {
  background-color: #756157;
}

.search-btn:hover,
.search-btn:focus  {
  background-color: #615048;
}

.search-btn:active {
  background-color: #756157;
  color: #FFFFFF4D;
}

.search-btn:disabled {
  background-color: #E5E5E5;
}

/* Main -> Subscribe
____________________________________________ */
.subscribe {
  margin: 0;
  padding: 96px 258px 105px;

  background-image: url("../images/background-images/subscribe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: #ffc0cb;
}

.subscribe-connotation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}

.subscribe-connotation-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 475px;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.subscribe-lead-title {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;

  color: #ffffff;
}

.subscribe-lead-description {
  margin: 0;
  padding: 0;

  color: #ffffff;
}

.subscribe-form {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
}

.subscribe-form-label input {
  width: 452px;
  margin: 0;
  padding: 14px 20px;

  font-size: 18px;
  line-height: 24px;

  color: #000000;
  border: none;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
}

.subscribe-btn {
  min-width: 232px;

  color: #ffffff;
  background-color: #82b3d3;
}

.subscribe-btn:hover,
.subscribe-btn:focus  {
  background-color: #68A2CA;
}

.subscribe-btn:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.subscribe-btn:disabled {
  background-color: #E5E5E5;
}
/* Main=Основное содержание - конец
============================================
*/


/* Footer=Подвал - начало
============================================ */

.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 0;
  flex-shrink: 0;

  min-width: 1200px;
  margin: 0;
  padding: 40px 70px 30px;

  background-color: #ffffff;
  color: #000000;
}

.page-footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  flex-shrink: 0;

  min-width: 1060px;
  margin: 0;
  padding: 0;
}

.page-footer-social {
  display: flex;
  align-items: center;

  flex-shrink: 0;

  width: 142px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;

  max-width: 150px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 48px;
  margin: 0;
  padding: 0 10px;
}

.social-vk {
  width: 24px;
  height: 14px;
  margin: 0;
  padding: 0 10px;

  background-image: url("../images/social-icon/vk.svg");
  background-repeat: no-repeat;
}

.social-tm {
  width: 18px;
  height: 16px;
  margin: 0;
  padding: 0 10px;

  background-image: url("../images/social-icon/telegramm.svg");
  background-repeat: no-repeat;
  text-align: center;
}

.social-youtube {
  width: 22px;
  height: 17px;
  margin: 0;
  padding: 0;

  background-image: url("../images/social-icon/youtube.svg");
  background-repeat: no-repeat;
}

.phone-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 720px;
  margin: 0;
  padding: 0;
}

.phone-link {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.footer-link-htmlacademy {
  display: flex;

  flex-shrink: 0;

  padding: 0;
  margin: 0;
}
/* Footer=Подвал - конец
============================================ */


/* Страница каталога
============================================
============================================ */
/* Фильтр */
.filter-catalog {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;

  background-color: #82B3D3;
}

.main-inner-filter {
  /* Блочная модель */
  max-width: 100%;
  height: 412px;
  padding: 35px 70px 70px;

  /* Оформление */
  background-image: url("../images/background-images/filter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #82B3D3;
  color: #000000;
}

.main-inner-filter-title {
  /* Блочная модель */
  width: 494.40px;
  height: 78px;
  margin: 0 0 8px;

  /* Типографика */
  font-size: 60px;
  line-height: 78px;
  text-transform: capitalize;
  color: #ffffff;

  /* Оформление */
  text-align: left;
}

/* Фильтр -> хлебные крошки */
.breadcrumbs-list {
  /* Позиционирование */
  position: relative;
  bottom: 11px;

  /* Блочная модель */
  min-width: 114px;
  height: 21px;
  margin: 0;
  padding: 0;
}

.breadcrumbs-list ul {
  /* Блочная модель */
  margin: 0;
  padding: 0;

  /* Оформление */
  list-style: none;
}

.breadcrumbs-item {
  /* Позиционирование */
  position: relative;
  bottom: 11px;

  /* Блочная модель */
  display: inline-block;
}

.breadcrumbs-home {
  /* Позиционирование */
  position: relative;

  /* Блочная модель */
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 0 10px 0 0;

  /* Оформление */
  background-image: url("../images/breadcrumbs/filter-home.svg");
  background-repeat: no-repeat;
  text-align: left;
}

.breadcrumbs-arrow {
  /* Позиционирование */
  position: relative;
  top: 8px;

  /* Блочная модель */
  display: inline-block;
  width: 6.39px;
  height: 9.94px;
  margin: 0;
  padding: 0;

  /* Оформление */
  background-image: url("../images/breadcrumbs/arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-arrow-text {
  /* Позиционирование */
  position: relative;
  top: -8px;
  left: 20px;

  /* Типографика */
  font-size: 16px;
  line-height: 21px;
  text-transform: capitalize;
  color: #ffffff;
}

.inner-form {
  /* Блочная модель */
  display: inline-block;
  width: 1060px;
  height: 160px;
}

.inner-infrastructure {
  /* Блочная модель */
  width: 150.43px;
  height: 157px;
  margin: 40px 70px 0 0;
  padding: 0;
}

.inner-infrastructure input {
  /* Блочная модель */
  margin-bottom: 16px;
  margin-right: 16px;
}

.infrastructure-title,
.type-housing-title {
  /* Блочная модель */
  display: inline-block;
  max-width: 150.43px;
  height: auto;
  margin-bottom: 32px;

  /* Типографика */
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #ffffff;
}

.infrastructure-list,
.type-housing-list {
  /* Блочная модель */
  margin: 0;
  padding: 0;

  /* Типографика */
  font-size: 18px;
  line-height: 23px;
  text-transform: capitalize;
  color: #ffffff;

  /* Оформление */
  list-style: none;
}

.inner-type-housing {
  /* Позиционирование */
  position: relative;
  left: 225px;
  bottom: 200px;

  /* Блочная модель */
  display: inline-block;
  width: 150.43px;
  height: 157px;
  padding: 0;
  margin: 40px 140px 0 0;
}

.inner-type-housing input {
  /* Блочная модель */
  margin-bottom: 16px;
  margin-right: 16px;
}

.inner-price {
  /* Позиционирование */
  position: relative;
  left: 218px;
  bottom: 270px;

  /* Блочная модель */
  display: inline-block;
  width: 288px;
  height: 160px;
  margin: 0;
  padding: 0;
}

.inner-price fieldset {
  /* Блочная модель */
  margin: 0;
  padding: 0;
}

.price-title {
  /* Блочная модель */
  display: inline-block;
  max-width: 288px;
  height: auto;

  /* Типографика */
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #ffffff;
}

.inner-price-wrapper {
  /* Блочная модель */
  margin: 0;
  margin-top: 32px;
  padding: 0;

  /* Оформление */
  text-align: center;
}

.price-input-min,
.price-input-max {
  /* Типографика */
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.text-price-from {
  /* Позиционирование */
  position: relative;
  left: -50px;

  /* Типографика */
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.text-price-before {
  /* Позиционирование */
  position: relative;
  left: 100px;
  bottom: 3px;
  left: -35px;

  /* Типографика */
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.price-range input {
  /* Блочная модель */
  width: 103px;
  height: 24px;
  margin-bottom: 36px;

  /* Типографика */
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.price-range label {
  /* Типографика */
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.progress-range-line {
  /* Блочная модель */
  width: 287px;

  /* Оформление */
  opacity: 0.30;
  border: 4px white solid;
}

.inner-button-submit {
  /* Блочная модель */
  max-width: 191px;
  height: 36px;

  /* Оформление */
  color: #ffffff;
  background-color: #82B3D3;
}

.inner-button-reset {
  /* Типографика */
  font-size: 16px;
  line-height: 20px;

  /* Оформление */
  color: #ffffff;
  background-color: none;
  border-radius: 4px;
}

.subscribe-catalog {
  margin: 0;
  padding: 96px 258px 105px;

  background-color: #ffffff;
}

.subscribe-connotation-catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}

.subscribe-connotation-catalog p {
  color: #000000;
}

.subscribe-form-catalog {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
}

.subscribe-form-catalog input {
  /* Оформление */
  border-color: #F2F2F2;
}
