/* PT Sans */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 1px solid #6a16c9;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 1280px;
  height: 100%;
  margin: 0;
  padding: 0 40px;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-decoration: none;

  color: #333333;
  background: #f2f2f2;
}

.body-page {
  display: flex;
  flex-direction: column;

  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;

  color: #ffffff;
  background: #82B3D3;

  text-align: center;

  /* __тени__ */
  box-shadow: 0 0 15px #00000033;
}

.page-header {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;

  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 70px;

  background-color: #ffffff;
}

.navigation {
  display: flex;

  width: 1060px;
  height: 64px;
}

.header-logo-sedona {
  width: 140px;
  margin: 0;
  padding: 0;
}

.navigation .header-logo-sedona{
  margin-right: 28px;
}

.logo-sedona {
  max-height: 70px;
  margin: 0 30px -6px 0;
  padding: 0;

  opacity: 0.8;
}

.logo-sedona:hover img,
.logo-sedona:focus-visible img {
  opacity: 0.8;
}

.logo-sedona:active img {
  opacity: 0.5;
}

.navigation-list {
  min-width: 340px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-item a {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;

  text-transform: capitalize;
  text-decoration: none;
  background-color: transparent;
}
