@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  /* Позиционирование */
  position: absolute;

  /* Блочная модель */
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  /* Оформление */
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);

  /* Разное */
  overflow: hidden;
}

body {
  /* Блочная модель */
  height: 100%;
  margin: 0;

  /* Типографика */
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.body-page {
  /* Блочная модель */
  width: 1200px;
  margin: 0 auto;
  padding: 0 40px;

  /* Оформление */
  color: #333333;
  background: #f2f2f2;
}

h1 {
  /* Типографика */
  font-size: 60px;
  line-height: 78px;

  /* Оформление */
  text-align: center;
}

h2 {
  /* Типографика */
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  /* Оформление */
  text-align: center;
}

h3 {
  /* Типографика */
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;

  /* Оформление */
  text-align: center;
}

.btn {
  /* Блочная модель */
  margin: 0;
  padding: 8px 50px;

  /* Типографика */
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  /* Оформление */
  color: black;
  background-color: greenyellow;
  border: none;
}


/* Главная страница
============================================
============================================ */

.container {
  /* Блочная модель */
  display: flex;
  flex-direction: column;

  /* Оформление */
  color: #ffffff;
  background-color: #82B3D3;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.subtitle {
  /* Типографика */
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  /* Оформление */
  text-align: center;
}

/* Header=Шапка - начало
============================================ */
.page-header {
  /* Оформление */
  background-color: #ffffff;
  color: #000000;
}

.navigation {
  /* Позиционирование */
  position: relative;

  /* Блочная модель */
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 70px;
}

.logo {
  /* Позиционирование */
  position: absolute;
  z-index: 1;

  /* Блочная модель */
  align-self: flex-start;
  margin-right: 30px;
}

.navigation-list {
  /* Позиционирование */
  position: relative;

  /* Блочная модель */
  display: flex;
  flex-wrap: wrap;

  width: 339px;
  padding: 0;
  margin: 0 auto 0 170px;

  /* Оформление */
  list-style: none;
}

.navigation-item {
  /* Позиционирование */
  position: relative;

  /* Блочная модель */
  display: flex;
  width: auto;
  height: 100%;
}


.navigation-link {
  /* Позиционирование */
  position: relative;

  /* Блочная модель */
  padding: 22px 16px;

  /* Типографика */
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: capitalize;
  background-color: transparent;
  text-decoration: none;
}

.navigation-link-current {
  /* Позиционирование */
  position: relative;

  /* Оформление */
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 20px;
  text-underline-position: under;
}

.navigation-user-list {
  /* Позиционирование */
  position: absolute;
  left: 538px;
  z-index: 0;

  /* Блочная модель */
  display: inline-block;
  padding: 0 0 0 320px;
}

.navigation-user-item {
  /* Позиционирование */
  position: relative;

  /* Блочная модель */
  display: inline-block;
  margin: 0 12px;
}
