/* Главная страница
============================================ */

/* Загрузка шрифтов - начало */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
/* Загрузка шрифтов - конец */


/* Базовая стилизация - начало */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html, body {
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background: #f2f2f2;
  max-width: 1280px;
  margin: 0 auto;
}

.body-page {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
  margin: 0 40px;
}

.heading {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.page-header {
  background-color: #ffffff;
  color: #000000;
  padding: 0 70px;
  margin: 0 40px;
  max-width: 1200px;
  /* height: 64px; */
}

.main-index {
  background-color: #83B3D333;
  color: #000000;
  margin: 0 40px;
  max-width: 1200px;
}

.page-footer {
  max-width: 1200px;
  height: 120px;
  background-color: #ffffff;
  color: #000000;
  margin: 0 40px;
}

a {
  text-decoration: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-style: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 60px;
  line-height: 78px;
  text-align: center;
  text-wrap: balance;
}

h2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

h4 {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  margin: 0 auto;
  padding: 8px 50px;
}
/* Базовая стилизация - конец */


/* Header=Шапка */
.logo {
  margin-right: 30px;
  padding: 0;
}

.navigation-list {
  margin-top: 20px;
  margin-bottom: 20px;
}

.navigation-user-list {
  margin-top: 22px;
  margin-bottom: 22px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding: 20px, 16px;
}

.navigation-link-current {
  text-decoration: underline;
  text-decoration-color: #756257;
  width: 100%;
  height: 0;
  text-decoration-thickness: 2px;
  text-underline-offset: 20px;
  text-underline-position: under;
}

.navigation-user-search {
  background-image: url("../images/header-icon/search-icon.svg");
  background-repeat: no-repeat;
  color: #000000;
  width: 18px;
  height: 18px;
  margin: 22px 0;
}

.navigation-user-favourites {
  background-image: url("../images/header-icon/heart-icon.svg");
  background-repeat: no-repeat;
  color: #000000;
  width: 18px;
  height: 17px;
  margin: 22px 0;
}

.navigation-user-search,
.navigation-user-favourites {
  position: relative;
  height: 64px;
  width: 44px;
  padding: 22px 12px;
}

span.navigation-user-statistics {
  position: absolute;
  top: 11px;
  left: 20px;
  transform: translate(-50%, -90%);
}

.navigation-user-statistics {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7DB54F;
  padding: 4px 5px 5px 4px;
  border-radius: 10px;
}

.navigation-want-come {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  width: 92px;
  height: 20px;
}

a.navigation-want-come {
  background-color: #756157;
  width: 160px;
  height: 36px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}


/* Main=Основное содержание */
.main-index {
  color: #ffffff;
  background-color: #82B3D3;
}


/* Main - Hero */

.hero {
  background-image: url("../images/main-page/divider.png"), url("../images/background-images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  max-width: 1200px;
  height: 485px;
  text-align: center;
}

.hero-logo {
  margin-top: 51.4px;
  margin-bottom: 25.23px;
}


/* Main - Advantages */

.advantages {
  max-width: 1200px;
  background-color: #ffffff;
  color: #000000;
}

.advantages-connotation {
  padding-top: 69px;
  padding-bottom: 69px;
  margin-bottom: 21px;
}

p.advantages-lead.heading {
  width: 620px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
}

.advantages-lead {
  width: 605px;
  text-align: center;
}

p.advantages-lead-description {
  width: 651px;
  height: 26px;
  margin: 0 auto;
  text-align: center;
}

.advantages-list {
  display: inline-block;
}

.advantages-item {
  width: 400px;
  height: 385px;
  text-align: left;
  margin: 0;
}

.advantages-subtitle {
  width: 175px;
  height: 56px;
  margin: 0 auto;
  padding-top: 103px;
  padding-bottom: 30px;
}

.advantages-town,
.advantages-bridge {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-square,
.advantages-tourists {
  background-color: #83B3D31F;
  color: #000000;
}

.advantages-road {
  background-color: #83B3D333;
  color: #000000;
}

.advantages-strips {
  width: 60px;
  height: 2px;
  border-top: 2px solid;
  margin: 0 auto;
}

.advantages-town-strips,
.advantages-bridge-strips {
  border-color: #FFFFFF4D;
}

.advantages-square-strips,
.advantages-road-strips,
.advantages-tourists-strips {
  border-color: #0000004D;
}

p.advantages-description {
  width: 230px;
  height: 42px;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}

.advantages-photo {
  width: 800px;
  height: 385px;
}


/* Main -> Services */
.services {
  max-width: 1200px;
  background-color: #ffffff;
  color: #000000;
}

.services-connotation {
  background-color: #ffffff;
  color: #000000;
}

p.services-lead {
  width: 505px;
  height: 72px;
  padding-top: 64px;
  padding-bottom: 20px;
  margin: 0 auto;
}

p.services-lead-description {
  width: 490px;
  height: 26px;
  padding-bottom: 64px;
  text-align: center;
  margin: 0 auto;
}

.services-item {
  width: 400px;
  height: 385px;
  padding-top: 80px;
  display: inline-block;
}

.services-item-grey {
  background-color: #83B3D31F;
}

.services-item-home {
  background-image: url("../images/services-icon/services-icon-home.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.services-item-food {
  background-image: url("../images/services-icon/services-icon-food.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.services-item-souvenirs {
  background-image: url("../images/services-icon/services-icon-souvenirs.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  padding-bottom: 30px;
}

p.services-description {
  width: 230px;
  height: 63px;
  text-align: center;
  padding-top: 30px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0 auto;
}


/* Main -> Search */
.search {
  max-width: 1200px;
  height: 406px;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  text-align: center;

}

.search-connotation {
  padding: 96px 304px;
  margin: 0 auto;
}

.search-lead {
  width: 297px;
  height: 36px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.search-lead-description {
  width: 592px;
  text-align: center;
  margin: 0 auto;
}

.search-button {
  max-width: 276px;
  border-radius: 4px;
  background-color: #756157;
  color: #ffffff;
}


/* Main -> Subscribe */
.subscribe {
  background-image: url("../images/background-images/subscribe.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

p.subscribe-lead {
  color: #ffffff;
}

.subscribe-lead-description {
  padding-top: 20px;
  padding-bottom: 54px;
}

.subscribe-form-email {
  text-align: center;
  display: inline-block;
}

.subscribe-form-email-label {
  min-width: 452px;
  min-height: 52px;
  padding: 12px 20px;
  border-radius: 4px 0 0 4px;
  color: #f2f2f2;
  margin: 0 auto;
}

.subscribe-form-email-label-text {
  opacity: 60%;
  padding: 14px 345px 14px 20px;
  font-size: 18px;
  line-height: 24px;
}

.subscribe-button {
  max-width: 232px;
  min-height: 52px;
  border-radius: 0 4px 4px 0;
  border-color: none;
  background-color: #82B3D3;
  color: #ffffff;
  margin: 0 auto;
}
/* Main=Основное содержание - конец*/


/* Footer=Подвал - начало*/
.page-footer-frame {
  width: 1060px;
  height: 50px;
  margin: 40px 70px 30px 70px;
  display: inline-block;
}

.page-footer-social {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 142px;
  height: 40px;
}

.social-list {
  padding: 0 10px;
  margin-top: 45px;
  margin-bottom: 35px;
  margin-left: 70px;
}

.social-vk {
  background-image: url("../images/social-icon/vk.svg");
  background-repeat: no-repeat;
  width: 24.001px;
  height: 14px;
}

.social-tm {
  background-image: url("../images/social-icon/telegramm.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 16px;
}

.social-youtube {
  background-image: url("../images/social-icon/youtube.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 17px;
}

.phone-link {
  color: #000;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin: 45px 194px 35px 195px;
}
/* Footer=Подвал - конец*/


/* Страница каталога
============================================ */
.main-inner {
  background-color: #83B3D333;
  color: #000000;
  margin: 0 40px;
  max-width: 1200px;
}

.main-inner-filter {
  background-image: url("../images/background-images/filter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #82B3D3;
  color: #000000;
}

.inner-filter-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
  margin-left: 70px;
  margin-top: 35px;
  width: 494,4px;
  height: 78px;
}

.subscribe-catalog {
  background-image: none;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
  color: #000000;
}
