/* PT Sans */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Общие стили */
html *,
html *::before,
html *::after {
  /* box-sizing: border-box; */
  outline: 1px solid #6a16c9;
}

html {
  /* стик футер */
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;

  /* стик футер */
  min-height: 100%;
  margin: 0;
  padding: 0 40px;

  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;

  color: #333333;
  background: #f2f2f2;

  text-align: center;
}

.body-page {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  background: #ffffff;

  /* __тени__ */
  box-shadow: 0 0 15px #00000033;
}

.repository {
  font-size: 16px;
  line-height: 20px;
}

.btn {
  display: inline-block;
  margin: 0;
  padding: 8px 50px;

  font-size: 20px;
  line-height: 36px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  text-align: center;

  color: #ffffff;
  background-color: #ffc0cb;

  border: none;

  cursor: pointer;
}

btn:focus-visible {
  outline: 3px solid #7691F8;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  text-align: center;
}

.subtitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;

  text-align: center;
}


/* Главная страница
============================================
============================================ */

/* Header=Шапка (навигация) - начало
============================================ */
.page-header {
  display: flex;

  flex-grow: 0;
  flex-shrink: 0;

  /* стик футер */
  min-height: 100%;
  margin: 0;
  padding: 0 70px;
}

.navigation {
  position: relative;

  display: flex;
  align-items: center;

  width: 1060px;
  max-height: 64px;
}

.header-logo-sedona {
  width: 140px;
  margin: 0;
  padding: 0;
}

.navigation .header-logo-sedona{
  margin-right: 28px;
}

.logo-sedona {
  margin: 0 -2px -6px 0;
  padding: 0;

  opacity: 1;
}

.logo-sedona:hover img,
.logo-sedona:focus-visible img {
  opacity: 0.8;
}

.logo-sedona:active img {
  opacity: 0.5;
}

.navigation .navigation-list {
  display: flex;
  flex-wrap: wrap;

  min-width: 339px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation-item {
  position: relative;

  display: flex;
}

.navigation-link {
  position: relative;

  margin: 0;
  padding: 20px 16px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;

  text-transform: capitalize;
  text-decoration: none;

  cursor: pointer;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #756257;
}

.navigation-link:active {
  color: #756257;
  opacity: 0.3;
}

.navigation-link-current::before {
  content: "";
  position: absolute;

  right: 16px;
  bottom: -1px;
  left: 16px;
  height: 2px;

  background-color: #756257;

  z-index: 1;
}

.navigation .navigation-user-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  margin-left: auto;

  list-style: none;
}

.navigation-user-item {
  position: relative;

  display: flex;

  width: 44px;
  height: 64px;
}

.navigation-user-link {
  position: relative;

  min-width: 20px;
  min-height: 20px;
  margin: 0;
  padding: 22px 12px;

  cursor: pointer;
}

.search-icon:hover {
  fill: #756157;
  opacity: 0.7;
}

.search-icon:focus {
  fill: #615048;
  opacity: 0.5;
}

.search-icon:active {
  fill: #7DB54F;
  opacity: 0.3;
}

.navigation-user-statistics {
  position: absolute;
  top: 11px;
  right: 1px;

  margin: 11px 4px 33 px 20px;
  padding: 5px 5px 5px 4px;

  font-size: 10px;
  line-height: 10px;
  color: #ffffff;

  text-decoration: none;

  border-radius: 10px;
  background-color: #7DB54F;

  z-index: 1;
}

.heart-icon:hover {
  fill: #756157;
  opacity: 0.7;
}

.heart-icon:focus {
  fill: #615048;
  opacity: 0.5;
}

.heart-icon:active {
  fill: #7DB54F;
  opacity: 0.3;
}

.heart-icon-group:hover,
.heart:hover {
  fill: #756157;
  opacity: 0.7;
}

.heart-icon-group:focus,
.heart:focus {
  fill: #615048;
  opacity: 0.5;
}

.heart-icon-group:active,
.heart:active {
  fill: #7DB54F;
  opacity: 0.3;
}

.navigation .navigation-btn {
  max-width: 160px;
  margin: 14px 0 14px 20px;
  padding: 8px 34px;

  font-size: 16px;
  line-height: 20px;

  background-color: #756157;
  border-radius: 4px;
}

.navigation-btn:hover {
  background-color: #615048;
  opacity: 0.7;
}

.navigation-btn:active {
  background-color: #756157;
  color: #ffffff4d;
}
/* Header=Шапка (навигация) - конец
============================================ */


/* Main=Основное содержание - начало
============================================ */
.main-index,
.main-catalog {
  display: flex;
  flex-direction: column;

  /* стик футер */
  flex-grow: 1;

  max-width: 1200px;
  /* стик футер */
  min-height: 100%;
}

.main-index h1,
.main-catalog h1 {
  font-size: 60px;
  line-height: 78px;
}

/* Main -> Hero
____________________________________________ */
.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  min-width: 1200px;
  min-height: 485px;
  margin: 0;
  padding: 0;

  background-color: #8daab8;
  color: #ffffff;

  background-image: url("../images/main-page/divider.png"), url("../images/background-images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center;
  background-size: contain, cover;
}

.hero h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  text-align: center;
}

/* Main -> Advantages
____________________________________________ */
.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 1200px;

  background-color: #ffffff;
  color: #000000;
}

.advantages h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  text-align: center;
}

.advantages-connotation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1200px;
  margin: 0 0 21px;
  padding: 69px 0;
}

.advantages-lead-title {
  margin: 0;
  padding: 0;
}

.advantages-lead-description {
  margin: 25px 0 0;
  padding: 0;

  color: #333333;
}

.advantages-first-row,
.advantages-second-row,
.advantages-third-row {
  display: flex;
  align-items: flex-start;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 400px;
  min-height: 385px;
  margin: 0;
  padding: 0 85px;
}

.advantages-title {
  width: 230px;
  margin: 0;
  padding: 0 0 30px;

  color: #000000;
}

.advantages-title-town,
.advantages-title-bridge {
  color: #ffffff;
}

.advantages-description {
  width: 230px;
  margin: 0 auto;
  padding: 30px 0 0;

  font-size: 18px;
  line-height: 21px;

  color: #333333;
}

.advantages-description-town,
.advantages-description-bridge {
  color: #ffffff;
}

.advantages-town,
.advantages-bridge {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-square,
.advantages-tourists {
  background-color: #83B3D31F;
  color: #000000;
}

.advantages-road {
  background-color: #83B3D333;
  color: #000000;
}

.advantages-square .advantages-description,
.advantages-tourists .advantages-description,
.advantages-road .advantages-description {
  color: #333333;
}

.advantages-strips {
  display: flex;

  width: 60px;
  height: 2px;
  margin: 0 auto;
  padding: 0;

  border-top: 2px solid;
}

.advantages-town-strips,
.advantages-bridge-strips {
  border-color: #FFFFFF4D;
}

.advantages-square-strips,
.advantages-road-strips,
.advantages-tourists-strips {
  border-color: #0000004D;
}

/* Main -> Services
____________________________________________ */
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  text-align: center;
}

.services-connotation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1200px;
  margin: 0;
  padding: 64px 0;
}

.services-lead-title {
  margin: 0;
  padding: 0;
}

.services-lead-description {
  margin: 20px 0 0;
  padding: 0;

  color: #333333;
}

.services-row {
  display: flex;
}

.services-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: auto;
  padding: 80px 85px;

  text-align: center;
}

.services-item::before {
  content: "";
  display: block;
  width: 75px;
  height: 75px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-position: center center;
  background-repeat: no-repeat;
}

.services-item-home::before {
  background-image: url("../images/services-icon/services-icon-home.svg");
}

.services-item-food::before {
  background-image: url("../images/services-icon/services-icon-food.svg");
}

.services-item-souvenirs::before {
  background-image: url("../images/services-icon/services-icon-souvenirs.svg");
}

.services-title {
  width: 230px;
  margin: 0 0 30px;
}

.services-item-grey {
  background-color: #83B3D31F;
}

.services-description-home,
.services-description-food,
.services-description-souvenirs {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 21px;

  color: #333333;
}

/* Main -> Search
____________________________________________ */
.search {
  display: flex;
  flex-direction: column;

  max-width: 1200px;

  margin: 0;
  padding: 0;

  background-color: #ffffff;
  color: #000000;
}

.search h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  text-align: center;
}

.search-connotation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1200px;
  margin: 0;
  padding: 96px 0;
}

.search-lead-title {
  width: 592px;
  margin: 0;
  padding: 0;
}

.search-lead-description {
  width: 592px;
  margin: 0;
  padding: 20px 0 54px;
}

.search-btn {
  background-color: #756157;
}

.search-btn[href]:disabled {
  background-color: #e5e5e5;
  opacity: 0.8;
  cursor: default;
}

.search-btn[href]:hover,
.search-btn[href]:focus-visible {
  background-color: #615048;
}

.search-btn[href]:active {
  background-color: #756157;
  color: #FFFFFF4D;
  opacity: 0.3;
}

/* Main -> Subscribe
____________________________________________ */
.subscribe {
  margin: 0;
  padding: 0;

  background-color: #ffffff;
  color: #000000;
}

.subscribe-fon {
  background-image: url("../images/background-images/subscribe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: #ffffff;
  background-color: #8daab8;
}

.subscribe h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  text-align: center;
}

.subscribe-connotation {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 96px 0 104px;
}

.subscribe-lead-title {
  width: 684px;
  margin: 0;
  padding: 0;
}

.subscribe-lead-description {
  display: flex;
  flex-wrap: wrap;

  width: 684px;
  margin: 0;
  padding: 20px 0 54px;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr auto;

  margin: 0;
  padding: 0;
}

.subscribe-form-label {
  width: 452px;
  height: 52px;
  margin: 0;
  padding: 0;

  border: none;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
}

.subscribe-form-input {
  min-width: 100%;
  height: auto;
  margin: 0;
  padding: 14px 20px;

  font-size: 18px;
  line-height: 24px;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
}

.subscribe-form-input:not(:disabled):hover,
.subscribe-form-input:not(:disabled):focus-visible {
  background-color: #e6e6e6;
}

.subscribe-form-input:not(:disabled):active {
  opacity: 0.6;
}

.subscribe-btn {
  width: 232px;
  height: 52px;

  background-color: #82b3d3;
  color: #ffffff;
  border-radius: 0 4px 4px 0;

  cursor: pointer;
}

.subscribe-btn:not(:disabled):hover,
.subscribe-btn:not(:disabled):focus-visible  {
  background-color: #68a2ca;
}

.subscribe-btn:not(:disabled):active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
  opacity: 0.3;
}
/* Main=Основное содержание - конец
============================================
*/


/* Footer=Подвал - начало
============================================ */
.page-footer {
  display: flex;

  flex-grow: 0;
  flex-shrink: 0;

  max-width: 1200px;
  /* стик футер */
  min-height: 100%;
  margin: 0;
  padding: 40px 70px 30px;

  background-color: #ffffff;
}

.page-footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1060px;
  margin: 0;
  padding: 0;
}

.social {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.social h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  text-align: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.social-item {
  display: flex;
  justify-content: center;

  width: 48px;
  height: 40px;
  margin: 0;
  padding: 0;
  }

.social-link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 10px;

  cursor: pointer;
}

.social-link:not(:disabled):hover,
.social-link:not(:disabled):focus-visible  {
  opacity: 0.7;
}

.social-link:not(:disabled):active {
  color: #68A2CA4D;
  opacity: 0.3;
}

.social-vk {
  background-image: url("../images/social-icon/vk.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.social-tm {
  background-image: url("../images/social-icon/telegramm.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.social-youtube {
  background-image: url("../images/social-icon/youtube.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.phone {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  max-width: 720px;
  margin: 0 auto;
  padding: 0 194px 0 195px;
}

.phone-link {
  height: 40px;
  margin: 0;
  padding: 0;

  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;

  text-align: center;
  text-decoration: none;
  color: #000000;

  cursor: pointer;
}

.phone-link:hover,
.phone-link:focus {
  color: #756157;
}

.phone-link:active {
  color: #7561574d;
}

.logo-htmlacademy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;

  margin: 0 0 0 auto;
  padding: 0;
}

.logo-htmlacademy-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;

  cursor: pointer;
}

.logo-htmlacademy-link:hover,
.logo-htmlacademy-link:focus-visible {
  color: #756157;
  fill: #756157;
  fill-opacity: 0.7;
}

.logo-htmlacademy-link:active {
  fill: #7561574d;
  fill-opacity: 0.3;
}
/* Footer=Подвал - конец
============================================ */


/* Страница каталога
============================================
============================================ */

/* Фильтр */
.main-catalog-filter {
  display: flex;
  flex-direction: column;

  max-width: 1200px;
  min-height: 412px;

  background-color: #8daab8;
  color: #ffffff;
  padding: 35px ;

  background-image: url("../images/background-images/filter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.main-catalog-filter-wrapper {
  display: flex;
  flex-direction: column;
}

.filter-title  {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;

  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  font-style: normal;
}

/* Фильтр -> Breadcrumbs = хлебные крошки */
.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  list-style: none;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-item + .breadcrumbs-item::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-image: url(../images/breadcrumbs/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-link {
  display: flex;
  justify-content: center;
  align-items: center;



}

.breadcrumbs-item + .breadcrumbs-item::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 15px;
  margin: 3px 0;
  padding: 0 0 2px;
  background-image: url("../images/breadcrumbs/filter-home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-arrow-text {
  font-size: 16px;
  line-height: 21px;
  text-transform: capitalize;
  color: #ffffff;
}

.main-catalog-form {
  display: flex;
  width: 1060px;
  height: 160px;
}

.main-catalog-infrastructure {

  margin: 40px 70px 0 0;
  padding: 0;
}

.main-catalog-infrastructure input {
  margin-bottom: 16px;
  margin-right: 16px;
}

.main-catalog-infrastructure-title,
.type-housing-title {
  display: flex;

  height: auto;
  margin-bottom: 32px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #ffffff;
}

.main-catalog-infrastructure-list,
.type-housing-list {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 23px;
  text-transform: capitalize;
  color: #ffffff;

  list-style: none;
}

.main-catalog-type-housing {
  display: flex;

  padding: 0;
  margin: 40px 140px 0 0;
}

.main-catalog-type-housing input {
  margin-bottom: 16px;
  margin-right: 16px;
}

.main-catalog-price {
  display: flex;

  margin: 0;
  padding: 0;
}

.main-catalog-price fieldset {
  margin: 0;
  padding: 0;
}

.main-catalog-title {
  display: flex;

  height: auto;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #ffffff;
}

.main-catalog-price-wrapper {
  margin: 0;
  margin-top: 32px;
  padding: 0;

  text-align: center;
}

.price-input-min,
.price-input-max {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.text-price-from {
  position: relative;
  left: 0;

  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.text-price-before {
  position: relative;
  left: 0;
  bottom: 0;

  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.price-range input {
  width: 103px;
  height: 24px;
  margin-bottom: 36px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.price-range label {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.progress-range-line {
  width: 287px;

  opacity: 0.3;
  border: 4px white solid;
}

.main-catalog-button-submit {
  max-width: 191px;
  height: 36px;

  color: #ffffff;
  background-color: #82B3D3;
}

.main-catalog-button-reset {
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
  background-color: none;
  border-radius: 4px;
}

.hotel-cards-item {
  display: flex;
  flex-direction: column;

  width: 298px;
  margin: 0;
  padding: 20px;

  border: 1px solid #e6e6e6;
  border-radius: 4px;
}


/* Main -> Select (каталог)
____________________________________________ */

.main-catalog-select {
  max-width: 1200px;
  height: auto;
  margin: 0;
  padding: 0 70px;

  background-color: #ffffff;
  color: #000000;
}

.main-catalog h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  text-align: center;
}

.hotel-cards {
  display: grid;
}


/* Main -> Pagination (каталог)
____________________________________________ */
.pagination {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  width: 1060px;
  margin: 0;
  padding: 0;
}

.pagination h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  text-align: center;
}

.pagination-list {
  display: flex;
  align-items: flex-start;

  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.pagination-item {
  display: flex;
  flex-wrap: wrap;

  width: 60px;
  height: 60px;
  margin-right: 8px;

  border-radius: 4px;
  border-color: #82b3d3;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 60px;
  min-height: auto;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  text-decoration: none;
  cursor: pointer;
}

.pagination-link-current {
  background-color: #F2F2F2;
  color: #000000;
}
