@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/*
* {
  outline: 1px solid #0a2c1f;
}
*/

html,
body {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 1280px;
  margin: 0;
  padding: 0 40px;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-decoration: none;

  color: #333333;
  background: #f2f2f2;
}

.body-page {
  display: flex;
  flex-direction: column;

  max-width: 1200px;
  min-height: 100%; /* sticky footer */
  margin: 0 auto;

  color: #ffffff;
  background: #82B3D3;
  box-shadow: 0 0 15px #00000033;
}

.repository {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.repository a {
  text-decoration: none;
  color: #ffffff;
}

.repository a:hover {
  color: #BF3535;
}

.body-page h1 {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  margin-block-start: 0;
  margin-block-end: 0;
}

.body-page h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  margin-block-start: 0;
  margin-block-end: 0;
}

.body-page h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  margin-block-start: 0;
  margin-block-end: 0;
}

.btn {
  margin: 0;
  padding: 8px 50px;

  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  text-align: center;

  color: #ffffff;
  background-color: #ffc0cb;
  border: none;
  border-radius: 4px;

  cursor: pointer;
  box-sizing: border-box;
}

.subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Главная страница
============================================
============================================ */

/* Header=Шапка (навигация) - начало
============================================ */
.page-header {
  display: flex;
  align-items: flex-start;

  flex-grow: 0; /*sticky footer */
  flex-shrink: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1200px;
  height: 64px;
  margin: 0 auto;
  padding: 0 70px;

  background-color: #ffffff;
}

.navigation-menu {
  position: relative;

  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation-logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin-right: 30px;
}

.navigation-logo img {
  aspect-ratio: auto 140 / 70;

  overflow-clip-margin: content-box;
  overflow: clip;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

  min-width: 340px;
  min-height: 64px;
  margin-left: 170px;

  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.navigation-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: stretch;

  text-align: center;

}

.navigation-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  padding: 20px 16px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: capitalize;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}

.navigation-link-current {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 20px;
  text-underline-position: under;
}

.navigation-user-menu {
  display: flex;
  align-items: center;

  margin-left: auto;
}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;

  max-width: 88px;
  min-height: 64px;
  margin: 0;
  padding: 0;

  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.navigation-user-item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 44px;
  min-height: 64px;

  text-align: center;
}

.navigation-user-search {
  position: absolute;
  top: 0;
  left: 0;

  flex-shrink: 0;

  min-width: 20px;
  min-height: 20px;
  margin: 0;
  padding: 22px 12px;

  background-image: url("../images/header-icon/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;

  fill: #000000;

  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.navigation-user-favorites {
  position: absolute;
  top: 0;
  left: 0;

  flex-shrink: 0;

  min-width: 20px;
  min-height: 20px;
  margin: 0;
  padding: 22px 12px;

  /* Оформление */
  background-image: url("../images/header-icon/heart-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;

  fill: #000000;

  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.navigation-user-favorites span {
  max-width: 20px;
  max-height: 20px;
  padding: 5px 5px 5px 4px;

  border-radius: 10px;
  text-align: center;
  background-color: #7DB54F;
}

.navigation-user-statistics {
  position: absolute;
  top: 11px;
  left: 20px;

  flex-shrink: 0;

  font-size: 10px;
  line-height: 10px;
  color: #ffffff;

  text-decoration: none;
}

.navigation-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 160px;
  margin-left: 20px;

  background-color: #756157;
  border: none;
  border-radius: 4px;

  font-size: 16px;
  line-height: 20px;
}

.navigation-btn:hover,
.navigation-btn:focus  {
  background-color: #615048;
}

.navigation-btn:active {
  background-color: #756157;
  color: #FFFFFF4D;
}

.navigation-btn:disabled {
  background-color: #E5E5E5;
}
/* Header=Шапка (навигация) - конец
============================================ */


/* Main=Основное содержание - начало
============================================ */
.main-index,
.main-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-grow: 1; /* sticky footer */
}

/* Main - Hero
____________________________________________ */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  width: 100%;
  height: 485px;
  margin: 0;
  padding: 0;



  background-image: url("../images/main-page/divider.png"), url("../images/background-images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center;
  background-size: 100% auto, cover;
}

.hero img {
  aspect-ratio: auto 458 / 352;

  overflow-clip-margin: content-box;
  overflow: clip;
}

/* Main - Advantages
____________________________________________*/
.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  background-color: #ffffff;
  color: #000000;
}

.advantages-connotation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1200px;
  height: auto;
  padding: 69px 0;

  margin-bottom: 21px;
}

.advantages-connotation p {
  display: flex;
  margin-block-start: 0;
  margin-block-end: 0;
}

.advantages-lead-title {
  width: 620px;
  height: auto;
  margin: 0;
  padding-bottom: 25px;
}

.advantages-lead-description {
  width: auto;
  height: auto;
}

.advantages-first-row,
.advantages-second-row,
.advantages-third-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}

.advantages-second-row li {
  flex-shrink: 0;
}

.advantages-first-row ul,
.advantages-second-row ul,
.advantages-third-row ul {
  list-style-type: none;

  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin: 0;
  padding: 0;
}

.advantages-list li {
  width: 230px;
  height: auto;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 400px;
  min-height: 385px;
  padding: 0 85px;

  text-align: center;
}

.advantages-first-row img,
.advantages-third-row img {
  aspect-ratio: auto 800 / 384;

  overflow-clip-margin: content-box;
  overflow: clip;
}

.advantages-title {
  width: 175px;
  height: auto;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.advantages-title-color {
  color: #ffffff;
}

.advantages-description {
  width: 100%;
  height: auto;
  margin: 0;
  padding-top: 30px;

  font-size: 18px;
  line-height: 21px;
}

.advantages-town,
.advantages-bridge {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-square,
.advantages-tourists {
  background-color: #83B3D31F;
  color: #000000;
}

.advantages-road {
  background-color: #83B3D333;
  color: #000000;
}

.advantages-town,
.advantages-square,
.advantages-road {
  float: left;
}

.advantages-bridge,
.advantages-tourists {
  float: right;
}

.advantages-strips {
  display: flex;

  width: 60px;
  height: 2px;
  border-top: 2px solid;
  margin: 0 auto;
  padding: 0;
}

.advantages-town-strips,
.advantages-bridge-strips {
  border-color: #FFFFFF4D;
}

.advantages-square-strips,
.advantages-road-strips,
.advantages-tourists-strips {
  border-color: #0000004D;
}

/* Main -> Services
____________________________________________ */
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  margin: 0;
  padding: 0;

  background-color: #ffffff;
  color: #000000;
}

.services-connotation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1200px;
  height: auto;
  margin: 0;
  padding: 64px 0;
}

.services-lead-title {
  width: 505px;
  height: auto;
  margin: 0;
  padding-bottom: 20px;
}

.services-lead-description {
  display: flex;

  width: auto;
  height: auto;

  margin-block-start: 0;
  margin-block-end: 0;
}

.services-row {
  display: flex;
  align-items: flex-start;

  box-sizing: border-box;
}

.services-row ul {
  list-style-type: none;

  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin: 0;
  padding: 0;

  list-style: none;

  text-align: center;
}

.services-list li {
  width: 230px;
  height: auto;
  }

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  max-width: 400px;
  min-height: 385px;
  margin: 0;
  padding: 0 85px;

  text-align: center;
}

.services-title {
  align-self: stretch;

  width: auto;
  height: auto;
  margin: 0;
  padding: 30px 0;

  text-align: center;
}

.services-item-grey {
  background-color: #83B3D31F;
}

.services-item-home {
  width: 75px;
  height: 72px;

  background-image: url("../images/services-icon/services-icon-home.svg");
  background-repeat: no-repeat;
}

.services-item-food {
  width: 75px;
  height: 72px;

  background-image: url("../images/services-icon/services-icon-food.svg");
  background-repeat: no-repeat;
}

.services-item-souvenirs {
  width: 75px;
  height: 75px;

  background-image: url("../images/services-icon/services-icon-souvenirs.svg");
  background-repeat: no-repeat;
}

.services-description-home,
.services-description-food,
.services-description-souvenirs {
  min-width: 230px;
  height: auto;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 21px;
}

/* Main -> Search
____________________________________________ */
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  background-color: #ffffff;
  color: #000000;
}

.search-connotation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1200px;
  height: auto;
  margin: 0;
  padding: 96px 0;
}

.search-lead-title {
  display: flex;

  width: auto;
  height: auto;
  margin: 0 0 20px;
  padding: 0;
}

.search-lead-description {
  min-width: 592px;
  height: auto;

  margin: 0;
  padding-bottom: 54px;

  text-align: center;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 376px;
  height: auto;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;

  border-radius: 4px;
  background-color: #756157;
  color: #ffffff;
}

/* Main -> Subscribe
____________________________________________ */
.subscribe {
  display: flex;

  max-width: 1200px;
  padding: 96px 258px 104px;

  background-image: url("../images/background-images/subscribe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscribe-connotation {
  /* display: flex; */
  /* flex-direction: column; */
}

.subscribe-lead-title {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;

  color: #ffffff;
}

.subscribe-lead-description {
  display: flex;

  width: 475px;
  height: 215px;
  margin: 0;
  padding: 20px 0 54px;

  color: #ffffff;
  text-align: center;

  margin-block-start: 0;
  margin-block-end: 0;
}

.subscribe-form {
  display: flex;
  /* flex-grow: 1; */
  /* flex-shrink: 0; */
  /* flex-basis: 0; */

  width: max-content;
  padding: 12px 28px;

  box-sizing: border-box;
}

.subscribe-form-email input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;

  color: #00000099;
  background-color: #f2f2f2;
  border: none;
  border-style: none;
  border-radius: 4px;

  cursor: pointer;
}

.subscribe-form-email {
  display: flex;

  text-align: left;
}

.subscribe-form-email input {
  position: absolute;
  left: 10px;

  display: inline-block;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
}

.subscribe-btn {
  position: absolute;
  left: 459px;

  display: block;
  width: max-content;

  color: #ffffff;

  border-radius: 0 4px 4px 0;
  border: none;
  background-color: #82B3D3;
}

.subscribe-form-email p {
  position: absolute;

  max-width: 100%;
  height: 52px;
  margin-left: 20px;

  color: #f2f2f2;

  border-radius: 4px 0 0 4px;
}

.subscribe-form-email input [type="text"] {
  width: 87px;
  height: 24px;
  margin: 0;

  opacity: 60%;
  font-size: 18px;
  line-height: 24px;

  text-align: left;
}
/* Main=Основное содержание - конец
============================================
*/


/* Footer=Подвал - начало
============================================ */
.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 0; /*sticky footer = стик-футер*/
  flex-shrink: 0;

  width: 1200px;
  height: 120px;
  margin: 0 auto;

  background-color: #ffffff;
  color: #000000;
}

.page-footer-frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 1060px;
  margin: 30px 70px 40px;
  box-sizing: border-box;
}

.page-footer-social {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 142px;
  height: 40px;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;
}

.social-list {
  max-width: 142px;
  height: 40px;
  padding: 0;

  list-style: none;

}

.social-item {

  position: relative;
  bottom: 11px;

  display: flex;
  max-width: 142px;
  height: 40px;
}

.social-vk {
  position: relative;
  bottom: 11px;

  display: flex;
  width: 24px;
  height: 14px;
  margin: 0 10px;

  background-image: url("../images/social-icon/vk.svg");
  background-repeat: no-repeat;
}

.social-tm {
  position: relative;
  bottom: 11px;

  display: inline-block;
  width: 18px;
  height: 16px;
  margin: 0 10px;

  background-image: url("../images/social-icon/telegramm.svg");
  background-repeat: no-repeat;
  text-align: center;
}

.social-youtube {
  position: relative;
  bottom: 11px;

  display: inline-block;
  width: 22px;
  height: 17px;
  margin: 0 10px;

  background-image: url("../images/social-icon/youtube.svg");
  background-repeat: no-repeat;
}

.phone-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 720px;
  height: 50px;
}

.phone-link {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.footer-link-htmlacademy {
  display: flex;
  flex-shrink: 0;
  
  padding: 0;
  margin: 0;

  vertical-align: baseline;
}
/* Footer=Подвал - конец
============================================ */


/* Страница каталога
============================================
============================================ */
/* Фильтр */
.main-inner {
  /* Блочная модель */
  max-width: 1200px;
  margin: 0 40px;

  /* Оформление */
  background-color: #83B3D333;
  color: #000000;
}

.filter-catalog {
  /* Блочная модель */
  margin: 0 auto;
  padding: 0;

  /* Оформление */
  background-color: #82B3D3;
  color: #000000;
}

.main-inner-filter {
  /* Блочная модель */
  max-width: 100%;
  height: 412px;
  padding: 35px 70px 70px;

  /* Оформление */
  background-image: url("../images/background-images/filter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #82B3D3;
  color: #000000;
}

.main-inner-filter-title {
  /* Блочная модель */
  width: 494.40px;
  height: 78px;
  margin: 0 0 8px;

  /* Типографика */
  font-size: 60px;
  line-height: 78px;
  text-transform: capitalize;
  color: #ffffff;

  /* Оформление */
  text-align: left;
}

/* Фильтр -> хлебные крошки */
.breadcrumbs-list {
  /* Позиционирование */
  position: relative;
  bottom: 11px;

  /* Блочная модель */
  min-width: 114px;
  height: 21px;
  margin: 0;
  padding: 0;
}

.breadcrumbs-list ul {
  /* Блочная модель */
  margin: 0;
  padding: 0;

  /* Оформление */
  list-style: none;
}

.breadcrumbs-item {
  /* Позиционирование */
  position: relative;
  bottom: 11px;

  /* Блочная модель */
  display: inline-block;
}

.breadcrumbs-home {
  /* Позиционирование */
  position: relative;

  /* Блочная модель */
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 0 10px 0 0;

  /* Оформление */
  background-image: url("../images/breadcrumbs/filter-home.svg");
  background-repeat: no-repeat;
  text-align: left;
}

.breadcrumbs-arrow {
  /* Позиционирование */
  position: relative;
  top: 8px;

  /* Блочная модель */
  display: inline-block;
  width: 6.39px;
  height: 9.94px;
  margin: 0;
  padding: 0;

  /* Оформление */
  background-image: url("../images/breadcrumbs/arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-arrow-text {
  /* Позиционирование */
  position: relative;
  top: -8px;
  left: 20px;

  /* Типографика */
  font-size: 16px;
  line-height: 21px;
  text-transform: capitalize;
  color: #ffffff;
}

.inner-form {
  /* Блочная модель */
  display: inline-block;
  width: 1060px;
  height: 160px;
}

.inner-infrastructure {
  /* Блочная модель */
  width: 150.43px;
  height: 157px;
  margin: 40px 70px 0 0;
  padding: 0;
}

.inner-infrastructure input {
  /* Блочная модель */
  margin-bottom: 16px;
  margin-right: 16px;
}

.infrastructure-title,
.type-housing-title {
  /* Блочная модель */
  display: inline-block;
  max-width: 150.43px;
  height: auto;
  margin-bottom: 32px;

  /* Типографика */
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #ffffff;
}

.infrastructure-list,
.type-housing-list {
  /* Блочная модель */
  margin: 0;
  padding: 0;

  /* Типографика */
  font-size: 18px;
  line-height: 23px;
  text-transform: capitalize;
  color: #ffffff;

  /* Оформление */
  list-style: none;
}

.inner-type-housing {
  /* Позиционирование */
  position: relative;
  left: 225px;
  bottom: 200px;

  /* Блочная модель */
  display: inline-block;
  width: 150.43px;
  height: 157px;
  padding: 0;
  margin: 40px 140px 0 0;
}

.inner-type-housing input {
  /* Блочная модель */
  margin-bottom: 16px;
  margin-right: 16px;
}

.inner-price {
  /* Позиционирование */
  position: relative;
  left: 218px;
  bottom: 270px;

  /* Блочная модель */
  display: inline-block;
  width: 288px;
  height: 160px;
  margin: 0;
  padding: 0;
}

.inner-price fieldset {
  /* Блочная модель */
  margin: 0;
  padding: 0;
}

.price-title {
  /* Блочная модель */
  display: inline-block;
  max-width: 288px;
  height: auto;

  /* Типографика */
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #ffffff;
}

.inner-price-wrapper {
  /* Блочная модель */
  margin: 0;
  margin-top: 32px;
  padding: 0;

  /* Оформление */
  text-align: center;
}

.price-input-min,
.price-input-max {
  /* Типографика */
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.text-price-from {
  /* Позиционирование */
  position: relative;
  left: -50px;

  /* Типографика */
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.text-price-before {
  /* Позиционирование */
  position: relative;
  left: 100px;
  bottom: 3px;
  left: -35px;

  /* Типографика */
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.price-range input {
  /* Блочная модель */
  width: 103px;
  height: 24px;
  margin-bottom: 36px;

  /* Типографика */
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.price-range label {
  /* Типографика */
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.progress-range-line {
  /* Блочная модель */
  width: 287px;

  /* Оформление */
  opacity: 0.30;
  border: 4px white solid;
}

.inner-button-submit {
  /* Блочная модель */
  max-width: 191px;
  height: 36px;

  /* Оформление */
  color: #ffffff;
  background-color: #82B3D3;
}

.inner-button-reset {
  /* Типографика */
  font-size: 16px;
  line-height: 20px;

  /* Оформление */
  color: #ffffff;
  background-color: none;
  border-radius: 4px;
}

.subscribe-catalog {
  /* Оформление */
  background-image: none;
  background-color: #ffffff;
}

.subscribe-connotation-catalog p {
  /* Оформление */
  color: #000000;
}

.subscribe-form-email-catalog input {
  /* Оформление */
  border-color: #ffffff;
}
